:root {
  --mainTextColour: Black;
  --maintextbackground: #636363;
  --specialtextColour: #d10202;
  --secoundaryspecialcolour: #630000;
  --primaryBackgroundColour: #0d0d0d;
  --secoundryBackgroundColour: #2e2e2e;
}

* {
  font-family: 'Cinzel', serif;
  margin: 0px;
  padding: 0px;
}

.list {
  display: grid;
  grid-auto-flow: column;
}

.headbar{
  background-color: var(--primaryBackgroundColour);
  color: var(--specialtextColour);
  padding-left: 1.5%;
  padding-bottom: 1.5%;
  padding-top: 1%;
}

h1 {
  background-color: var(--primaryBackgroundColour);
}

h1 a {
  text-decoration: none;
  color: var(--specialtextColour);
  font-family: 'Metal Mania', cursive;
  font-size: 75px;
  text-shadow: 4px 4px var(--secoundaryspecialcolour);
}

h1 a:hover{
  color: #d4f2ff;
}

.heading {
  display: grid;
  grid-auto-flow: column;
}

p {
  font-size: 20px;
  color: var(--mainTextColour);
  background-color: var(--maintextbackground);
  padding: 2%;
}

a {
  text-decoration: none;
}

nav{
  background-color: var(--secoundryBackgroundColour);
  padding-left: 1.5%;

}

ul {
  list-style-type: none;

}

li{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px ;

}

li a {
  text-decoration: none;
  color: var(--specialtextColour);
  font-size: 23px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

ul li a:hover{
  color:Black;
}

.StringGallery img{
  width: 70%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.StringGallery a img {
  margin:auto;
  display:block;
}

.StringGallery{
  background-color: var(--maintextbackground);
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  padding-top: 3%;
  padding-bottom: 3%;

}

.StringSeperation {
  background-color: var(--primaryBackgroundColour);
  color: var(--specialtextColour);
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top:1%;
  padding-bottom:1% ;
}

/*Media Querys*/
/*Media nav bar responseiveness*/
@media only screen and (max-width: 850px){
  .list {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(7,1fr) ;


  }
  .list li a{
    margin: auto;
    display: block;
  }
}

/*StringGallery responseiveness*/
@media only screen and (max-width:900px) {
  .StringGallery {
    grid-template-columns: repeat(2 ,1fr);

  }
}

@media only screen and (max-width: 650px) {
  .StringGallery {
    grid-template-columns: repeat(1 ,1fr);

  }
}
